{% extends 'layoutEnCarton.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/artist.css">
{% endblock %}
{% block content %}
	<main
		class='container-artist'>

		{# listes album #}
		<section class='albums'>
			<h2>Listes des albums<h2>
					<ul>
						{% for album in albums %}
							<li>{{ album.title }}</li>
							<li><img class="fit-picture" src="{{ album.picture }}" alt=" {{ album.title }} "></li>
						{% endfor %}
					</ul>
				</section>

				{# artiste description #}
				<section class='artist'>
					<h2>Informations sur l'artiste<h2>
							<p>{{ artist.name }}</p>
						</section>
					</main>
				{% endblock %}
