{% extends 'layoutEnCarton.html.twig' %}
{% block content %}
	<section class="about container-fluid bg-dark">
		<div class="row-about d-flex">
			<div class="col-3 mx-auto">
				<img class="jacket" src="/assets/images/jacketFx.png">
                <p>François-Xavier Laroche</p>
			</div>
			<div class="col-3 mx-auto">
				<img class="jacket" src="/assets/images/jacketJC.png">
                <p>Jean-Christophe Riotte</p>
			</div>
            <div class="col-3 mx-auto">
				<img class="jacket" src="/assets/images/jacketAntho.png">
                <p>Anthony Verchère</p>
			</div>
            <div class="col-3 mx-auto">
				<img class="jacket" src="/assets/images/jacketManue.png">
                <p>Manuela Quertier</p>
			</div>
		</div>
	</section>
{% endblock %}
