{% extends 'layoutEnCarton.html.twig' %}
{% block content %}
	<div class="Welcome container-fluid">
		<div class="row height d-flex justify-content-center align-items-center">
			<div class="col-md-8">
				<form method='POST' action="#">
					<div class="search d-flex">
						<input type="text" class="form-control" placeholder="Nom de l'artiste">
						<button type="submit" class="btn">Search</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
