{% extends 'layoutEnCarton.html.twig' %}
{% block content %}
	<div class="Welcome container-fluid">
		<div class="row">
			<div class="col-6"><h1>PART 1 recup api lecteur random musique</h1></div>
            <div class="col-6"><h1>PART 2</h1></div>
		</div>
	</div>

{% endblock %}
